# OpenAI API Configuration
# OPENAI_API_KEY=OPENAI_APIKEY

OPENAI_API_KEY=secrets.OPENAI_APIKEY

# Optional: Specify OpenAI model versions
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4o-mini
